.container {
    position: relative;
    margin: 50px 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;

    .formGroup {
        position: relative;

        .submit {
            margin-top: 20px;
            border: 0;
            background-color: transparent;
            padding: 5px 15px;
            border: 1px solid black;
            border-radius: 999px;

            &:hover {
                animation: hoverSubmit 0.24s linear forwards;
            }
        }

        @keyframes hoverSubmit {
            to {
                background-color: green;
                color: white;
            }
        }

        input::placeholder {
            color: black;
            opacity: 1;
        }

        input {
            width: 500px;
            height: 40px;
            margin-top: 10px;
            text-align: center;
            border: 0;
            outline: none;
            background-color: transparent;
            border: 1px solid black;
            border-radius: 10px;
        }

        .correct {
            background-color: green;
        }

        .incorrect {
            background-color: red;
            font-size: 18px !important;
            padding: 4px !important;
        }

        position: relative;

        .icon {
            aspect-ratio: 1.05;
            position: absolute;
            right: 3%;
            top: 44%;
            font-size: 17px;
            padding: 3px;
            color: white;
            border: 0;
            border-radius: 50%;
        }

        .spinnerIcon {
            aspect-ratio: 1.05;
            position: absolute;
            right: 3%;
            top: 44%;
            font-size: 18px;
            color: black;
            border: 0;
            border-radius: 50%;
            animation: spinner 0.6s linear infinite;
        }
    }
}