.back {
    position: fixed;
    top: 13%;
    left: 4%;
    font-size: 30px;
    padding: 5px 10px;
    cursor: pointer;
    color: black;

    button {
        border: 0;
        background-color: transparent;
    }
}